{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Please input Customer Details</h1>
</div>
<form method="post" class="form">
    <input type= "text" name="firstname" placeholder="First Name" required="required" />
    <input type="text" name="middlename" placeholder="Middle Name" required="required"/>
    <input type="text" name="lastname" placeholder="Last Name" required="required"/>
    <input type="date" name="dateofbirth" placeholder="Date of Birth" required="required"/>
    <input type="text" name="phonenumber" placeholder="Phone Number" required="required" />
    <input type="text" name="bvnNumber" placeholder="BVN Number" required="required" />
    <input type="submit" class="btn btn-primary" value="Confirm">
</form>
<br><br><br>

{% if digit_check %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Please enter only digits</h4>
        </div>
    </div>
</div>
{% endif %}

{% if length_check %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Digits of number incomplete, should contain 11 digits</h4>
        </div>
    </div>
</div>
{% endif %}

{% if error_message %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>{{ error_message }}</h4>
        </div>
    </div>
</div>
{% endif %}

{% if success_message %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Customer has been successfully validated</h4><br>
        </div>
    </div>
</div>
{% endif %}

{% if not_message %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Customer Information not valid please input correct Information</h4><br>
        </div>
    </div>
</div>
{% endif %}

{% if phone_message %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Enter BVN verified phone number</h4><br>
        </div>
    </div>
</div>
{% endif %}

{% if name_message %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Name couldn't be verified. Try again </h4><br>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}